<button
  [type]="type"
  [disabled]="disabled || loading"
  [class]="'relative active:top-px ' + buttonClasses"
  [title]="tooltip"
  (click)="handleClick($event)">
  
  <!-- Loading Spinner -->
  @if (loading) {
    <i [class]="spinnerSizeClass + ' ri-loader-2-line animate-spin'"></i>
  }
  
  <!-- Leading Icon -->
  @if (!loading && icon) {
    <i [class]="icon + ' ' + iconSizeClass"></i>
  }
  
  <!-- Label or Content -->
  @if (label) {
    <span>{{ label }}</span>
  } @else {
    <ng-content></ng-content>
  }
  
  <!-- Trailing Icon -->
  @if (!loading && iconTrailing) {
    <i [class]="iconTrailing + ' ' + iconSizeClass"></i>
  }
</button>
