@variant dark (&:where(.dark, .dark *));

:root {
  --bg-primary: white;
  --text-primary: black;
  --foxcode-color: #035a8b;
  --content-bg: #f6f7f8;
  
  --dt-primary: #246CE0;
}

.dark {
  --bg-primary: #111827;
  --text-primary: white;
  --foxcode-color: #00649d;
  --content-bg: #303030;


  --dt-primary: #246CE0;
}

@theme {
  --color-bg-primary: var(--bg-primary);
  --color-primary: var(--text-primary);
  --color-content-bg: var(--content-bg);
  --color-foxcode: var(--foxcode-color);
  --color-dt-primary: var(--dt-primary); 
}

/* Prevent white flash between route swaps */
html,
body {
  background-color: var(--color-content-bg);
}
