@variant dark (&:where(.dark, .dark *));

:root {
  --bg-primary: white;
  --text-primary: black;
  --foxcode-color: #035a8b;
  --content-bg: #f6f7f8;
  
  /* DTS VARIABLES */
  --dts-title: #3f3f46;
  --dts-badges: #71717a;
  --dts-primary: #246CE0;
}

.dark {
  --bg-primary: #111827;
  --text-primary: white;
  --foxcode-color: #00649d;
  --content-bg: #303030;
  
  /* DTS VARIABLES */
  --dts-title: #e4e4e7;
  --dts-badges: #a1a1aa;
  --dts-primary: #246CE0;
}

@theme {
  --color-bg-primary: var(--bg-primary);
  --color-primary: var(--text-primary);
  --color-content-bg: var(--content-bg);
  --color-foxcode: var(--foxcode-color);
  --color-dts-primary: var(--dts-primary); 
  --color-dts-title: var(--dts-title);
  --color-dts-badges: var(--dts-badges);
}

/* Prevent white flash between route swaps */
html,
body {
  background-color: var(--color-content-bg);
}
