@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  .mdc-linear-progress__buffer-bar {
    background: #035a8b36;
  }

  .mdc-linear-progress__bar-inner {
    border-color: #035a8b;
  }
}
